.header-landing {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "Montserrat", sans-serif;

  a {
    text-decoration: none;
    color: var(--heder-link-top);
    position: relative;
    padding-bottom: 3px;
    transition: color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #F05B67;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .utility {
    border: 2px solid var(--accent-color);

    .row {
      width: 100%;
      max-width: 1440px;
      height: 48px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 auto;
      background: var(--row-bg);
    }

    .utility-left,
    .utility-right {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    .phone {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 14px;
      font-weight: 600;

      p {
        position: relative;
        padding-bottom: 3px;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #F05B67;
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 14px;
      width: 70px;
      height: 60px;

      .icon-btn {
        display: flex;
        align-items: center;
        gap: 6px;
        position: relative;
        transition: all 0.3s ease;

        &.has-items {
          color: #e63946;
          transform: scale(1.1);
        }

        &:hover {
          color: #F05B67;
        }

        .qty {
          position: absolute;
          top: 7px;
          right: -6px;
          background: #e63946;
          color: #fff;
          font-size: 10px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .theme-toggle-btn {
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .main-nav {
    border: 2px solid var(--accent-color);
    border-top: 0;
    background: var(--card-bg);
    // background: #F05B67;

    .row {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 98px;
      max-width: 1440px;
      margin: 0 auto;
    }

    .menu-left,
    .menu-right {
      display: flex;
      align-items: center;
      gap: 22px;
      flex-wrap: wrap;

      .menu-link {
        font-weight: 600;
        cursor: pointer;
        
      }
    }

    .badge {
      display: inline-block;
      min-width: 20px;
      height: 20px;
      padding: 0 6px;
      border-radius: 10px;
      background: #F05B67;
      color: #fff;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      margin-left: 6px;
    }

    .logo {
      text-align: center;

      .logo-mark {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 2px solid var(--accent-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        color: var(--text-color);
   
      }
             &::after {
        display: none !important;
      }
    }
  }

  .menu-select,
  .menu-select1 {
    width: 170px;
    border: none;
    font-weight: 650;
    height: 60px;
    cursor: pointer;
    position: relative;
    background: transparent;
  
    &:hover {
      border-bottom: 2px solid #F05B67;
      border: none;
    }
    
  }

  /* Тёмная тема */
  &.dark {
    .utility .row,
    .main-nav {
      background: #222;
    }

    a,
    .phone p,
    .icons,
    .menu-link,
    .menu-select,
    .menu-select1 {
      color: white;
    }

    .menu-select,
    .menu-select1 {
      background-color: #222;
    }

    a::after,
    .menu-link::after,
    .phone p::after {
      background-color: #fff;
    }
  }

  @media (max-width: 1177px) {
    display: none;
  }
}
