// .banner {
//   width: 100%;
//   max-width: 1440px;
//   height: 475px;
//   margin: 0 auto;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 0 50px;

//   background: linear-gradient(
//     90deg,
//     rgba(249, 200, 250, 1) 0%,
//     rgba(240, 243, 255, 1) 16%,
//     rgba(232, 239, 255, 1) 20%,
//     rgba(175, 226, 250, 1) 35%,
//     rgba(183, 190, 196, 0.55) 75%,
//     rgba(237, 227, 209, 1) 83%,
//     rgba(245, 225, 225, 1) 88%,
//     rgba(245, 211, 245, 1) 99%
//   );

//   .images {
//     position: relative;
//     width: 500px;
//     height: 450px;

//     .img {
//       width: 422px;
//       height: 422px;
//       position: relative;
//       z-index: 2;
//     }

//     // маленькие макароны
//     .f1 {
//       position: absolute;
//       top: -20px;
//       left: 40px;
//       width: 70px;
//     }

//     .f2 {
//       position: absolute;
//       bottom: 10px;
//       left: -30px;
//       width: 65px;
//     }

//     .f3 {
//       position: absolute;
//       top: 40px;
//       right: -40px;
//       width: 70px;
//     }

//     .f4 {
//       position: absolute;
//       bottom: 40px;
//       right: -35px;
//       width: 70px;
//     }

//     .f5 {
//       position: absolute;
//       top: 180px;
//       left: -50px;
//       width: 65px;
//     }
//   }

//   .text {
//     max-width: 500px;

//     h4 {
//       font-size: 16px;
//       font-weight: 500;
//       color: #333;
//       margin-bottom: 15px;

//       span {
//         font-weight: 300;
//         color: #555;
//       }
//     }

//     h1 {
//       font-size: 40px;
//       font-weight: 700;
//       margin-bottom: 20px;
//       color: #000;
//     }

//     p {
//       font-size: 16px;
//       line-height: 1.5;
//       color: #444;
//     }
//   }
// }
.banner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  flex-wrap: wrap;

  background: linear-gradient(
    90deg,
    rgba(249, 200, 250, 1) 0%,
    rgba(240, 243, 255, 1) 16%,
    rgba(232, 239, 255, 1) 20%,
    rgba(175, 226, 250, 1) 35%,
    rgba(183, 190, 196, 0.55) 75%,
    rgba(237, 227, 209, 1) 83%,
    rgba(245, 225, 225, 1) 88%,
    rgba(245, 211, 245, 1) 99%
  );

  .images {
    position: relative;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;

    .img {
      width: 100%;
      max-width: 420px;
      height: auto;
      position: relative;
      z-index: 2;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .f1 { position: absolute; top: -20px; left: 40px; width: 70px; }
    .f2 { position: absolute; bottom: 10px; left: -30px; width: 65px; }
    .f3 { position: absolute; top: 40px; right: -40px; width: 70px; }
    .f4 { position: absolute; bottom: 40px; right: -35px; width: 70px; }
    .f5 { position: absolute; top: 180px; left: -50px; width: 65px; }
  }

  .text {
    max-width: 500px;
    margin-top: 20px;

    .h2 {
      font-size: 23px;
      font-weight: 700;
      color: #333;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
      color: #000;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      color: #444;
    }
  }
}

@media (max-width: 992px) {
  .banner {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;

    .images {
      margin-bottom: 20px;
    }

    .text h1 {
      font-size: 32px;
    }
  }
}


@media (max-width: 576px) {
  .banner {
    padding: 20px;

    .text h1 {
      font-size: 26px;
    }

    .text p {
      font-size: 14px;
    }

    .images {
      width: 350px;
   
    }
  }
}
